body {
	background-color: #000;
}
.main {
	background-color: #000;
	min-height: 500px;
	width: 400px;
	margin: 40px auto;
	border-radius: 10px;
}
.main header {
	color: #fff;	
	text-align: center;
}
.main header h1{
	font-size: 40px;
	font-weight: bold;
}
.toDoForm input {
	background-color: #fff;
	border: 0;
	width: 230px;
	height: 50px;
	padding: 0 20px;
	margin: 10px 10px 10px 20px;
	font-size: 18px;
	border-radius: 10px;
}
.toDoForm input:focus, .toDoForm button:focus {
	outline: none;
}
.toDoForm button {
	height: 45px;
	width: 80px;
	border-radius: 10px;
	border: 0;
	background-color: lightgray;
	font-size: 15px;
	font-weight: bold;
	margin: auto 20px auto auto;
}